.button
  position relative
  display inline-block
  padding-top 0px
  padding-bottom 3px
  color color-first
  vertical-align bottom

  & button
    outline none
    cursor pointer
    width 100%
    padding 8.5px 33.5px
    font-size 1.04rem
    background-color color-first
    border-radius 3px
    border 1px solid color-first
    box-shadow 0px 3px 0px 0px color-first-dark
    font-family LatoBlack
    color white
    text-transform uppercase
    vertical-align middle
    text-align center

  &_small button
    padding 4.5px 17.5px
    font-size 0.87rem

  &_error
    color color-second

    & button
      background-color color-second
      border-color color-second
      box-shadow 0px 3px 0px 0px color-second-dark

  &_pressed
    padding-bottom 0px
    padding-top 3px

    & button
      box-shadow none

  &.button_inverted button
    background-color white
    color inherit

.js-button__ripple-effect
  position absolute
  border-radius 50%
  width 1px
  height 1px
  background #fafafa
  z-index 1
  animation ripple-animation 1s

@keyframes ripple-animation
  from
    transform scale(1)
    opacity 1

  to
    transform scale(50)
    opacity 0