/***** Variables *****/
color-first = #4eb7a8
color-second = #e75735
color-first-dark = #28a290
color-second-dark = #bf3e1f
color-disabled = #e5e5e5

/***** Styles *****/
@require './components/*'

*
  box-sizing border-box
  padding 0
  margin 0

html
  font-size 12px

body
  padding 3% 0

h1
  font-family LatoBlack
  text-transform uppercase
  font-size 1.67rem
  padding 20px

.clearfix::after
  content ""
  display table
  clear both

/***** Fonts *****/

/* font-family: "LatoBlack"; */
@font-face {
  font-family: "LatoBlack";
  src: url("./fonts/LatoBlack/LatoBlack.eot");
  src: url("./fonts/LatoBlack/LatoBlack.eot?#iefix")format("embedded-opentype"),
          url("./fonts/LatoBlack/LatoBlack.woff") format("woff"),
          url("./fonts/LatoBlack/LatoBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SourceSansProRegular"; */
@font-face {
  font-family: "SourceSansProRegular";
  src: url("./fonts/SourceSansProRegular/SourceSansProRegular.eot");
  src: url("./fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
          url("./fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
          url("./fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}