.control-panel
  display flex
  justify-content center

  & > *:not(:first-child)
    margin-left 1%

  & input
    background-color #e5e5e5
    color #888888
    font-size 1.2rem
    font-family SourceSansProRegular
    padding 0 1rem
    border none
    border-radius 0.3rem